@import "tailwindcss";


@font-face {
  font-family: 'Varela';
  src: url('./assets/fonts/Varela-Regular.ttf') format('truetype');
}

:root {
 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
